@import "../config/reset.less";
@import "../config/maps.less";
@import "../config/breakpoints.less";
@import "../config/mixins.less";

body
{
    background-color:#colors[background];
   
    header{
        background-color: #colors[header];
        position: sticky;
        top: 0;
        left: 0;
        .container
        {
           .container();
            display: flex;
             justify-content: space-between;
            align-items: center;
            padding: 16px 0;
            .menu
            {
                display: flex;
                li
                {
                    .list-item();
                    font-weight: bold;
                    margin-left: 24px;
                    a
                    {
                        color: #colors[bt-text];
                        text-decoration: none;
                    }
                }


            }
        }

    }
    section{
        padding: 56px 0;
        .container{
            .container();
            .products
            {
                margin-top: 40px;
                display: grid;
                grid-template-columns: repeat(3, 32.66%);
                column-gap: 1%;
                row-gap: 4%;
                width: 100%;
    
                .product-item
                {
                    .list-item();
    
                    img
                    {
                        width: 100%;
                        border-radius: 16px;
                    }
                    .product-button {
                        display: block;
                        background-color:#colors[button];
                        color: #colors[bt-text];
                        text-align: center;
                        padding: 8px 0;
                        border-radius: 8px;
                        margin-top: 8px;
                        text-decoration: none;
                        &:hover{
                            background-color: #colors[bt-hover];
                        }
                    }
    
                }
            }


        }       
    }
}